@charset "UTF-8";
body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none ;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
}
 a{
    color:#d784e086;
    text-decoration: none;
 }
 header img{
    width: 80px;
    border-radius:20%;
    border: 2px solid #D784E0
 }
.center {
    text-align: center;
}
.justificado {
    text-align: justify;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
    }

p{
    text-indent: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em
}

.DEV{
    color: #D784E0; /* Cor da parte pintada */
    
}

h2{
    font-size: 4em;
    text-align: center;
    padding: 20px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.pushReleaseFrom { animation-name:fadeInBottom}
@keyframes pushReleaseFrom {
    from {
        transform: scale(3, 3);
        opacity: 0;
    }
    30% { transform: scale(.5, .5) }
}

h3{
    padding: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D784E0;
}

footer img {
    width: 50px;
    height: 50px;
}
footer {
    display: flex;
    justify-content: center;
    text-align: center;
}
footer p {
    margin: 10px;
    padding: 10px;
}
.conteiner {
    padding:20px;
    font-size: 1em;
    margin:auto;
}

nav a:hover
{
    color: #D784E0; 
}

.dinamicas {
   min-width: 375px;
   max-width: 557px;
   margin: auto;
}